.background-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid transparent;
  margin: 40px;
  margin-bottom: 60px;
  text-align: center;
  width: 800px;
  height: 500px;
  cursor: pointer;
}

.background-changer:hover {
  border-color: #5e66ff;
  filter: drop-shadow(0 0 1.5rem #646cffaa);
}

.background-changer button {
  background: transparent;
  border: 1px solid transparent;
  color: #242424;
}

.background-changer button:hover {
  border: 2px solid #5e66ff;
}
