.logout-button {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}

.todos-heading {
  font-size: 3rem;
}

.todos-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  min-width: 300px;
  min-height: 300px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background: #000;
  border-radius: 10px;
  padding: 1.6rem;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 14px 2px;
  border-bottom: 1px solid #cccccca7;
}


.todo-label {
  flex: 1;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
}

.todo-label.completed {
  text-decoration: line-through;
}

.todo-description {
  display: block;
  font-size: 16px;
  color: #666;
}

.trash-icon {
  color: #ef4444;
  cursor: pointer;
  padding: 5px;
  padding-right: 0;
}

.add-button {
  display: flex;
  gap: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 8px 2px;
  cursor: pointer;
  text-align: left;
  outline: none;
  margin-top: 20px;
}

.add-todo {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.plus-icon {
  color: #ef4444;
}

.plus-icon.rotate {
  transform: rotate(45deg);
}

.add-button:active {
  outline: none;
  border: none;
}

.add-button:focus {
  outline: none;
  border: none;
}

.add-todo input {
  background-color: transparent;
  width: 100%;
  margin: 0 34px;
  padding: 4px 0;
  border-radius: 0;
  color: #fff;
  outline: none;
  border: none;
}

.add-todo input:focus {
  outline: none;
  border: none;
}

.add-todo .description {
  font-size: 16px;
  color: #fffefe;
}

.submit-todo {
  display: flex;
  margin-left: 2px;
  margin-right: 5px;
}

.submit-icon {
  cursor: pointer;
}

.loader {
  display: inline-block;
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top: 6px solid #646cff;
  width: 32px;
  height: 32px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
