form {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  form {
    width: 90%;
  }
}

.error {
  color: #ff4e4e;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 5px;
}

.error-bottom {
  font-size: 1.2rem;
  margin-top: 1rem;
  text-align: center;
}

form input {
  margin: 1rem 0;
}

form button {
  margin-top: 1rem;
}
