<section class="ecosystem">
	<header class="ecosystem__header">
		<h2 class="ecosystem__heading">Heading Goes Here</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit.
			<br />
			Inventore officia dolores quidem maxime repellendus magnam.
		</p>
	</header>
	<picture>
		<source type="image/webp" srcset="./images/ecosystem.webp" />
		<source type="image/png" srcset="./images/ecosystem.png" />
		<img
			class="ecosystem__image"
			src="./images/ecosystem.png"
			alt="The Zerodha Universe"
		/>
	</picture>
	<div>
		<a href="#" class="link-arrow">Learn More</a>
		<a href="#" class="link-arrow">Learn More</a>
	</div>
</section>
