<section class="education">
	<div class="container grid grid--1x2">
		<img src="./images/education.svg" alt="" />
		<header class="education__header">
			<h3 class="education__heading">Heading Goes Here</h3>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
				officia dolores quidem maxime repellendus magnam.
			</p>
			<a href="#" class="link-arrow">Learn More</a>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
				officia dolores quidem maxime repellendus magnam.
			</p>
			<a href="#" class="link-arrow">Learn More</a>
		</header>
	</div>
</section>
