<footer class="footer">
	<div class="container">
		<div class="grid">
			<div class="footer__brand">
				<a href="#" class="footer__logo"
					><img src="./images/logo.svg" alt="Zerodha Logo"
				/></a>
				<p class="footer__copyright">
					&copy; 2024, Designed by
					<a href="https://linktr.ee/KadlagAkash">Akash Kadlag</a>.
					<br />
					For Educational Purposes Only.
				</p>
				<div class="socials">
					<a href="https://linktr.ee/kadlagakash" target="_blank">
						<svg class="icon">
							<use href="./images/sprite.svg#linktree"></use>
						</svg>
					</a>
					<a href="https://www.linkedin.com/in/kadlagakash/" target="_blank">
						<svg class="icon">
							<use href="./images/sprite.svg#linkedin"></use>
						</svg>
					</a>
					<a href="https://twitter.com/KadlagAkash" target="_blank">
						<svg class="icon">
							<use href="./images/sprite.svg#twitter"></use>
						</svg>
					</a>
					<a href="" target="_blank">
						<svg class="icon">
							<use href="./images/sprite.svg#github"></use>
						</svg>
					</a>
				</div>
			</div>

			<section class="footer__section">
				<h3 class="footer__heading">Company</h3>
				<ul class="footer-list">
					<li><a href="#">About</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="#">Referral programme</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">Zerodha.tech</a></li>
					<li><a href="#">Press &amp; media</a></li>
					<li>
						<a href="#">Zerodha Cares (CSR)</a>
					</li>
				</ul>
			</section>

			<section class="footer__section">
				<h3 class="footer__heading">Support</h3>
				<ul class="footer-list">
					<li><a href="#">Contact us</a></li>
					<li>
						<a href="#">Support portal</a>
					</li>
					<li><a href="#">Z-Connect blog</a></li>
					<li><a href="#">List of charges</a></li>
					<li>
						<a href="#">Downloads &amp; resources</a>
					</li>
					<li>
						<a href="#">Videos</a>
					</li>
					<li>
						<a href="#">Market overview</a>
					</li>
					<li>
						<a href="#">How to file a complaint?</a>
					</li>
					<li>
						<a href="#">Status of your complaints</a>
					</li>
				</ul>
			</section>

			<section class="footer__section">
				<h3 class="footer__heading">Account</h3>
				<ul class="footer-list">
					<li>
						<a href="#">Open an account</a>
					</li>
					<li>
						<a href="#">Fund transfer</a>
					</li>
				</ul>
			</section>
		</div>

		<div class="additional-rows">
			<p>
				Zerodha Broking Ltd.: Member of NSE, BSE​ &amp;​ MCX – SEBI Registration
				no.: INZ000031633 CDSL/NSDL: Depository services through Zerodha Broking
				Ltd. – SEBI Registration no.: IN-DP-431-2019 Commodity Trading through
				Zerodha Commodities Pvt. Ltd. MCX: 46025 – SEBI Registration no.:
				INZ000038238 Registered Address: Zerodha Broking Ltd., #153/154, 4th
				Cross, Dollars Colony, Opp. Clarence Public School, J.P Nagar 4th Phase,
				Bengaluru - 560078, Karnataka, India. For any complaints pertaining to
				securities broking please write to
				<a href="mailto:">complaints@zerodha.com</a>, for DP related to
				<a href="mailto:">dp@zerodha.com</a>. Please ensure you carefully read
				the Risk Disclosure Document as prescribed by SEBI | ICF
			</p>
			<p>
				Procedure to file a complaint on
				<a href="#">SEBI SCORES</a>: Register on SCORES portal. Mandatory
				details for filing complaints on SCORES: Name, PAN, Address, Mobile
				Number, E-mail ID. Benefits: Effective Communication, Speedy redressal
				of the grievances
			</p>
			<p>
				<a href="#">Smart Online Dispute Resolution</a>
			</p>
			<p>
				Investments in securities market are subject to market risks; read all
				the related documents carefully before investing.
			</p>
			<p>
				Attention investors: 1) Stock brokers can accept securities as margins
				from clients only by way of pledge in the depository system w.e.f
				September 01, 2020. 2) Update your e-mail and phone number with your
				stock broker / depository participant and receive OTP directly from
				depository on your e-mail and/or mobile number to create pledge. 3)
				Check your securities / MF / bonds in the consolidated account statement
				issued by NSDL/CDSL every month.
			</p>
			<p>
				"Prevent unauthorised transactions in your account. Update your mobile
				numbers/email IDs with your stock brokers. Receive information of your
				transactions directly from Exchange on your mobile/email at the end of
				the day. Issued in the interest of investors. KYC is one time exercise
				while dealing in securities markets - once KYC is done through a SEBI
				registered intermediary (broker, DP, Mutual Fund etc.), you need not
				undergo the same process again when you approach another intermediary."
				Dear Investor, if you are subscribing to an IPO, there is no need to
				issue a cheque. Please write the Bank account number and sign the IPO
				application form to authorize your bank to make payment in case of
				allotment. In case of non allotment the funds will remain in your bank
				account. As a business we don't give stock tips, and have not authorized
				anyone to trade on behalf of others. If you find anyone claiming to be
				part of Zerodha and offering such services, please
				<a href="#">create a ticket here</a>.
			</p>
		</div>

		<div class="footer-extra-links">
			<ul>
				<li>
					<a href="#">NSE</a>
				</li>
				<li>
					<a href="#">BSE</a>
				</li>
				<li>
					<a href="#">MCX</a>
				</li>
				<li>
					<a href="#">Terms &amp; conditions</a>
				</li>
				<li>
					<a href="#">Policies &amp; procedures</a>
				</li>
				<li>
					<a href="#">Privacy policy</a>
				</li>
				<li>
					<a href="#">Disclosure</a>
				</li>
				<li>
					<a href="#">For investor's attention</a>
				</li>
				<li>
					<a href="#">Investor charter</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
