<section class="marketing">
	<div class="container grid grid--1x2">
		<img src="./images/largest-broker.svg" alt="" />
		<header class="marketing__header">
			<h2 class="marketing__heading">Heading Goes Here</h2>
			<p>Tagline goes here which gives idea about brand</p>
			<div class="grid grid--1x2">
				<ul>
					<li>Item 1 is listed here</li>
					<li>Item 2 is listed here</li>
					<li>Item 3 is listed here</li>
				</ul>
				<ul>
					<li>Item 1 is listed here</li>
					<li>Item 2 is listed here</li>
					<li>Item 3 is listed here</li>
				</ul>
			</div>
			<img src="./images/press-logos.png" alt="" />
		</header>
	</div>
</section>
