<header class="header">
	<!-- Navabar -->
	<nav class="nav">
		<div class="container">
			<!-- logo -->
			<a href="/" class="nav__brand"
				><img src="./images/logo.svg" alt="Zeroda"
			/></a>

			<!-- Navigation links -->
			<ul class="navbar__links">
				<li>
					<a href="#">Signup</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Products</a>
				</li>
				<li>
					<a href="#">Pricing</a>
				</li>
				<li>
					<a href="#">Support</a>
				</li>
			</ul>

			<!-- Hamburger Menu -->
			<svg class="icon" data-dropdown-button>
				<use href="./images/sprite.svg#menu"></use>
			</svg>
		</div>
	</nav>
</header>
