<section class="pricing">
	<div class="container grid grid--1x2">
		<header class="pricing__header">
			<h2 class="pricing__heading">Heading Goes Here</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
				officia dolores quidem maxime repellendus magnam.
			</p>
			<a href="#" class="link-arrow">Learn More</a>
		</header>
		<article class="grid grid--1x2 pricing__content">
			<div>
				<h2>₹0</h2>
				<p>Free equaity delivery and direct mutual funds</p>
			</div>
			<div>
				<h2>₹20</h2>
				<p>Intraday and F&O</p>
			</div>
		</article>
	</div>
</section>
